/* Standard (Nachtmodus) */
:root {
  --primary-color: #3a9ad9;     
  --secondary-color: #1f3a93;   
  --accent-color: #dfe4ea;      
  --bg-dark: #2f3640c2;         
  --my-dark: #222935;           
  --text-light: #ffffff;        
  --text-dark: #213547;         
  --hover-color: #287dbb;       

  color-scheme: light dark;
}

/* Tagmodus */
.light-mode {
  --primary-color: #f39c12;     
  --secondary-color: #e67e22;   
  --accent-color: #f1f2f6;      
  --bg-dark: #d8d8d8be;        
  --my-dark: #ecf0f1;           
  --text-light: #000000;        
  --text-dark: #213547;         
  --hover-color: #d35400;       
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: var(--text-light);
  overflow: auto;  /* Scrollen ermöglichen */
}

body.light-mode {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.card {
  background-color: var(--my-dark);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--text-light);
  max-width: 90%; /* Verhindert, dass die Karte zu breit wird */
  margin: 0 auto; /* Zentriert die Karte auf der Seite */
}

.box {
  background-color: var(--bg-dark);
  padding: 0rem 2rem 1rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--text-light);
  max-width: 90%; /* Box-Größe beschränken */
  margin: 0 auto;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  font-weight: 700;
  color: var(--primary-color);
  margin: 0;
  padding: 1rem 0.5rem;
}

i {
  color: rgba(255, 255, 255, 0.349);
}

.local-time {
  font-size: 0.8em;
  color: #666;
  margin-left: 10px;
}

button, input {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--primary-color);
  color: var(--text-light);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--hover-color);
}

.mode-toggle {
  font-size: x-large;
  margin: 0;
  padding: 5px 15px;
}

input {
  background-color: var(--accent-color);
  color: var(--text-dark);
  border: 1px solid #555;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input:focus {
  border-color: var(--secondary-color);
  background-color: #c1c1c1;
}

input::placeholder {
  color: #888;
}

.weather-info {
  text-align: left;
  padding: 0.5rem 1.5rem;
  background-color: var(--bg-dark);
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.weather-info h2 {
  font-size: 2em;
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: var(--primary-color);
}

.weather-info p {
  font-size: 1.2em;
  margin: 0.5rem 0;
}

.weather-info .temperature {
  font-size: 2.5em;
  color: var(--secondary-color);
}

.weather-icon img {
  width: 100px; /* Kleinere Icons */
  height: auto;
}

.weather-video, .weather-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.error-message {
  color: #ff4d4d;
  background-color: #ffe6e6;
  border: 1px solid #ff0000;
  padding: 10px;
  margin: 20px 10px 0 10px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--accent-color);
  border-radius: 10px;
  margin-top: 20px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

footer p {
  margin: 0;
  
}

/* Responsive Design mit @media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  .box {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
  }
    
  .card {
    padding: 1.5rem;
  }

  .weather-info h2 {
    font-size: 1.5em;
  }

  .weather-info .temperature {
    font-size: 2em;
  }

  .weather-icon img {
    width: 80px; /* Icons auf Tablets verkleinern */
  }

  button, input {
    padding: 8px 15px;
    font-size: 0.9em;
  }

}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2em;
  }

  .card {
    padding: 1rem;
  }

  .weather-info h2 {
    font-size: 1.2em;
  }

  .weather-info .temperature {
    font-size: 1.8em;
  }

  .weather-icon img {
    width: 60px; /* Icons auf kleinen Bildschirmen noch kleiner */
  }

  button, input {
    padding: 5px 10px;
    font-size: 0.8em;
  }

  .mode-toggle {
    font-size: large;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
}
